<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="aws" type="Amazon.AWSSection, AWSSDK.Core" />
	</configSections>
	
	<aws region="eu-west-1" profileName="test" />
	
	<appSettings>
        <add key="AWSProfileName" value="development" />
        <add key="AWS_ACCESS_KEY_ID" value="AKIAIYWYK7SGDPWTMFPQ" />
		<add key="AWS_SECRET_KEY" value="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" />
	</appSettings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
</configuration>